.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
// .photo {
//     height: 100;
//     width: 50;
// }

.about-comment {
    padding: 30px 40px;
    background-color: white;
}

.comment__header {
    font-size: 30px;
    font-weight: 900;
    background-color: white;

    p {
        background-color: white;
    }
}

.first-image {
    background-image: url('../icons/images/image-about-dark.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.second-image {
    background-image: url('../icons/images/image-about-light.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;}