.home-combine {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // height: 25rem;   
}

.home-component {
    background-image: url('../icons/images/desktop-image-hero-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1000px;
    height: 25rem;
}

.navbar {
    display: flex;
    padding-top: 20px;

    a{
        text-decoration: none;
        margin-left: 40px;
        color: white;
    }

    .navbar-logo {
        font-size: 25px;
        font-weight: 900;
    }
}

.home-discover {
    width: 400px;
    height: 25rem;
}

.about {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 40px;
}
// .photo {
//     height: 100;
//     width: 50;
// }

.about-comment {
    background-color: white;
}

.comment__header {
    background-color: white;

    p {
        background-color: white;
    }
}