.home-component {
    // margin: 30px 40px 0 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70vh;
    width: 100%;
    background-image: url('../icons/images/desktop-image-hero-1.jpg');
    // background-position: center;
    background-size: contain;
    overflow: hidden;
    background-repeat: no-repeat;
}

.navbar {
    width: 80%;
    display: flex;
    padding-top: 20px;

    a{
        text-decoration: none;
        margin-left: 40px;
        color: white;
    }

    .navbar-logo {
        font-size: 25px;
        font-weight: 900;
    }
}

.home-discover {
    width: 70%;
}
