.carrowsell {
    display: flex;
    height: 5rem;
    width: 28%;
    background-color: black;
    justify-content: center;
 
    .angles {
        padding-top: 19px;
        margin-left: 30px;
        cursor: pointer;
    }

    .angles1 {
        padding-top: 19px;
        cursor: pointer;
    }
}